<div class="main-home">
    <div class="text-home">
        <h1 class="main-text">Cinema</h1>
        <h1 class="main-text">Ironhack</h1>
        <a href="/movies"><button>Check the movies!</button></a>
    </div>
</div>